<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnyDoor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,388}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{877,1},{326,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnyDoor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,37}</string>
                <key>spriteSize</key>
                <string>{568,480}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnyDoor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{304,450}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{571,1},{304,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnyDoor.png</string>
            <key>size</key>
            <string>{1204,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:818751eab34c57a67e9c5bce396ef600:451d25fdf480c08f41ee03696cbf8e28:694a75b204e1acdc87ff020f586fcebf$</string>
            <key>textureFileName</key>
            <string>AnyDoor.png</string>
        </dict>
    </dict>
</plist>
