<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-144}</string>
                <key>spriteSize</key>
                <string>{1128,602}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1128,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-92}</string>
                <key>spriteSize</key>
                <string>{1030,500}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,605},{1030,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-68}</string>
                <key>spriteSize</key>
                <string>{824,548}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{675,1255},{824,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-76}</string>
                <key>spriteSize</key>
                <string>{750,532}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1131,1},{750,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,-92}</string>
                <key>spriteSize</key>
                <string>{570,500}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1033,753},{570,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{272,-86}</string>
                <key>spriteSize</key>
                <string>{672,672}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1255},{672,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buy.png</string>
            <key>size</key>
            <string>{1664,1928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65347c797cdc099993092b9c92bbfc40:de1ccacc0bc07cd02a608d6dbe27521f:b6e8db9ab518ed74d31a4ca00f2fea4d$</string>
            <key>textureFileName</key>
            <string>buy.png</string>
        </dict>
    </dict>
</plist>
