<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dice1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,47}</string>
                <key>spriteSize</key>
                <string>{252,650}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,545},{252,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-18}</string>
                <key>spriteSize</key>
                <string>{270,520}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{653,543},{270,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,6}</string>
                <key>spriteSize</key>
                <string>{258,566}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,799},{258,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{272,510}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{361,1},{272,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,20}</string>
                <key>spriteSize</key>
                <string>{266,590}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{361,275},{266,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{358,542}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dice.png</string>
            <key>size</key>
            <string>{952,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fa0e12e4767be2f852e9e67f87ce48:933fe69cd2d068c3f324301a10bc34e4:e6ea6fe56b6ab9a560e761f661f2fbfa$</string>
            <key>textureFileName</key>
            <string>Dice.png</string>
        </dict>
    </dict>
</plist>
