<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equality1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,446}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>equality2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,444}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{525,1},{522,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equality.png</string>
            <key>size</key>
            <string>{1048,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc190262252e9e0f451e9fafa1e7ce45:cbd389d6f3db6ae300fdfec612d7d27d:b5f5c4a333bbd58fcc2dffae4810a89a$</string>
            <key>textureFileName</key>
            <string>equality.png</string>
        </dict>
    </dict>
</plist>
