<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlyEag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{228,376}</string>
                <key>spriteSize</key>
                <string>{164,272}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{837,1},{164,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlyEag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,225}</string>
                <key>spriteSize</key>
                <string>{246,574}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,311},{246,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FlyEag3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,34}</string>
                <key>spriteSize</key>
                <string>{308,834}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,834}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FlyEag4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-364}</string>
                <key>spriteSize</key>
                <string>{382,296}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{577,311},{382,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FlyEag.png</string>
            <key>size</key>
            <string>{1002,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05e7b33ded42b1083c6186d721c1f9c2:8376ba23d58e11b06f0d98ef97a3bfb4:e2253b3b15b35c0b2367adef71d469a1$</string>
            <key>textureFileName</key>
            <string>FlyEag.png</string>
        </dict>
    </dict>
</plist>
