<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mfourfour1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,257}</string>
                <key>spriteSourceSize</key>
                <string>{101,257}</string>
                <key>textureRect</key>
                <string>{{104,678},{101,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,244}</string>
                <key>spriteSourceSize</key>
                <string>{101,244}</string>
                <key>textureRect</key>
                <string>{{104,1184},{101,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,238}</string>
                <key>spriteSourceSize</key>
                <string>{101,238}</string>
                <key>textureRect</key>
                <string>{{1,103},{101,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourfour12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,232}</string>
                <key>spriteSourceSize</key>
                <string>{101,232}</string>
                <key>textureRect</key>
                <string>{{1,312},{101,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourfour13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,239}</string>
                <key>spriteSourceSize</key>
                <string>{100,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourfour14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,234}</string>
                <key>spriteSourceSize</key>
                <string>{104,234}</string>
                <key>textureRect</key>
                <string>{{1,206},{104,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourfour15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,239}</string>
                <key>spriteSourceSize</key>
                <string>{100,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourfour16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,245}</string>
                <key>spriteSourceSize</key>
                <string>{101,245}</string>
                <key>textureRect</key>
                <string>{{104,937},{101,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,250}</string>
                <key>spriteSourceSize</key>
                <string>{101,250}</string>
                <key>textureRect</key>
                <string>{{1,1182},{101,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,257}</string>
                <key>spriteSourceSize</key>
                <string>{101,257}</string>
                <key>textureRect</key>
                <string>{{104,678},{101,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,261}</string>
                <key>spriteSourceSize</key>
                <string>{101,261}</string>
                <key>textureRect</key>
                <string>{{109,415},{101,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,252}</string>
                <key>spriteSourceSize</key>
                <string>{101,252}</string>
                <key>textureRect</key>
                <string>{{1,928},{101,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,249}</string>
                <key>spriteSourceSize</key>
                <string>{106,249}</string>
                <key>textureRect</key>
                <string>{{1,415},{106,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,252}</string>
                <key>spriteSourceSize</key>
                <string>{101,252}</string>
                <key>textureRect</key>
                <string>{{1,928},{101,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,260}</string>
                <key>spriteSourceSize</key>
                <string>{101,260}</string>
                <key>textureRect</key>
                <string>{{1,666},{101,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfour9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,238}</string>
                <key>spriteSourceSize</key>
                <string>{101,238}</string>
                <key>textureRect</key>
                <string>{{1,103},{101,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mfourfour.png</string>
            <key>size</key>
            <string>{241,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb469bda76346d5322ad0b18fd9985b:18fc27d43affed7d7af62755aa8e745e:02932fa50fe0699c25d043e8b188579f$</string>
            <key>textureFileName</key>
            <string>mfourfour.png</string>
        </dict>
    </dict>
</plist>
