<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mfourthree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,254}</string>
                <key>spriteSourceSize</key>
                <string>{102,254}</string>
                <key>textureRect</key>
                <string>{{228,1},{102,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,247}</string>
                <key>spriteSourceSize</key>
                <string>{101,247}</string>
                <key>textureRect</key>
                <string>{{547,1},{101,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,240}</string>
                <key>spriteSourceSize</key>
                <string>{102,240}</string>
                <key>textureRect</key>
                <string>{{216,258},{102,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,234}</string>
                <key>spriteSourceSize</key>
                <string>{109,234}</string>
                <key>textureRect</key>
                <string>{{320,257},{109,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,239}</string>
                <key>spriteSourceSize</key>
                <string>{101,239}</string>
                <key>textureRect</key>
                <string>{{1,259},{101,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,235}</string>
                <key>spriteSourceSize</key>
                <string>{110,235}</string>
                <key>textureRect</key>
                <string>{{104,259},{110,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,239}</string>
                <key>spriteSourceSize</key>
                <string>{101,239}</string>
                <key>textureRect</key>
                <string>{{1,259},{101,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,247}</string>
                <key>spriteSourceSize</key>
                <string>{102,247}</string>
                <key>textureRect</key>
                <string>{{546,250},{102,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,248}</string>
                <key>spriteSourceSize</key>
                <string>{108,248}</string>
                <key>textureRect</key>
                <string>{{436,250},{108,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,254}</string>
                <key>spriteSourceSize</key>
                <string>{102,254}</string>
                <key>textureRect</key>
                <string>{{228,1},{102,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,255}</string>
                <key>spriteSourceSize</key>
                <string>{102,255}</string>
                <key>textureRect</key>
                <string>{{124,1},{102,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,252}</string>
                <key>spriteSourceSize</key>
                <string>{102,252}</string>
                <key>textureRect</key>
                <string>{{332,1},{102,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,247}</string>
                <key>spriteSourceSize</key>
                <string>{109,247}</string>
                <key>textureRect</key>
                <string>{{436,1},{109,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,252}</string>
                <key>spriteSourceSize</key>
                <string>{102,252}</string>
                <key>textureRect</key>
                <string>{{332,1},{102,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,256}</string>
                <key>spriteSourceSize</key>
                <string>{121,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthree9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,240}</string>
                <key>spriteSourceSize</key>
                <string>{102,240}</string>
                <key>textureRect</key>
                <string>{{216,258},{102,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mfourthree.png</string>
            <key>size</key>
            <string>{653,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70cc39f74d092aa6b9282504d86b4970:2c9a5e5771499a4994183bed144b7802:24390383486972f1eeab40bf9fc95c1e$</string>
            <key>textureFileName</key>
            <string>mfourthree.png</string>
        </dict>
    </dict>
</plist>
