<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mfourfourlose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-23}</string>
                <key>spriteSize</key>
                <string>{98,254}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,325},{98,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfourlose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-56}</string>
                <key>spriteSize</key>
                <string>{110,188}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,135},{110,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourfourlose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-91}</string>
                <key>spriteSize</key>
                <string>{132,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mfourfourlose.png</string>
            <key>size</key>
            <string>{120,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c4cf773f961132200047016e9018dcf:eb2bac39c409fcce9594ab814eebedaa:87898c2c8208b122c6ffe967f899d9f4$</string>
            <key>textureFileName</key>
            <string>mfourfourlose.png</string>
        </dict>
    </dict>
</plist>
