<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mfourthreewin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,238}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{773,1},{90,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthreewin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,256}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{415,1},{132,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourthreewin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,252}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{161,1},{138,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourthreewin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,242}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{429,135},{112,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourthreewin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,250}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{673,1},{98,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfourthreewin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,266}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{161,141},{108,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mfourthreewin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,242}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mfourthreewin.png</string>
            <key>size</key>
            <string>{864,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f8cab5b3bc58e3e87eedeedfd2710a6:1d43716c9d10cc5bbb2ed86099077e18:1a2a07a344f680a9db14d0b97a9fac49$</string>
            <key>textureFileName</key>
            <string>mfourthreewin.png</string>
        </dict>
    </dict>
</plist>
