<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mfouronelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-23}</string>
                <key>spriteSize</key>
                <string>{98,254}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,311},{98,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfouronelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-63}</string>
                <key>spriteSize</key>
                <string>{116,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,135},{116,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mfouronelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-91}</string>
                <key>spriteSize</key>
                <string>{132,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mfouronelose.png</string>
            <key>size</key>
            <string>{120,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3524290ad99a6805f4cc88103becc9c2:93b8d65e1937a923be83775840963996:1ccbbaf60849e7ba823758a18cd3d150$</string>
            <key>textureFileName</key>
            <string>mfouronelose.png</string>
        </dict>
    </dict>
</plist>
