<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mhourthreehi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{96,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1253},{96,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-25}</string>
                <key>spriteSize</key>
                <string>{96,250}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,501},{96,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{98,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{98,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,251},{98,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{96,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,753},{96,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{96,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1003},{96,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{96,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,753},{96,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{98,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,251},{98,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhourthreehi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{98,248}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mhourthreehi.png</string>
            <key>size</key>
            <string>{100,1498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53aff7d9bf0d96c07937ff1b76e8335:5b28f41aadcd50389e962aed4f503250:d25c3bbe5adf10797f60e81f2342e69b$</string>
            <key>textureFileName</key>
            <string>mhourthreehi.png</string>
        </dict>
    </dict>
</plist>
