<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monetwo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,339}</string>
                <key>spriteSourceSize</key>
                <string>{140,339}</string>
                <key>textureRect</key>
                <string>{{1,1305},{140,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,332}</string>
                <key>spriteSourceSize</key>
                <string>{140,332}</string>
                <key>textureRect</key>
                <string>{{1,971},{140,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,325}</string>
                <key>spriteSourceSize</key>
                <string>{140,325}</string>
                <key>textureRect</key>
                <string>{{153,1},{140,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,319}</string>
                <key>spriteSourceSize</key>
                <string>{146,319}</string>
                <key>textureRect</key>
                <string>{{1,321},{146,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,326}</string>
                <key>spriteSourceSize</key>
                <string>{143,326}</string>
                <key>textureRect</key>
                <string>{{149,328},{143,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,332}</string>
                <key>spriteSourceSize</key>
                <string>{144,332}</string>
                <key>textureRect</key>
                <string>{{143,987},{144,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,326}</string>
                <key>spriteSourceSize</key>
                <string>{143,326}</string>
                <key>textureRect</key>
                <string>{{149,328},{143,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,318}</string>
                <key>spriteSourceSize</key>
                <string>{150,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,349}</string>
                <key>spriteSourceSize</key>
                <string>{140,349}</string>
                <key>textureRect</key>
                <string>{{1,1646},{140,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,339}</string>
                <key>spriteSourceSize</key>
                <string>{140,339}</string>
                <key>textureRect</key>
                <string>{{1,1305},{140,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,329}</string>
                <key>spriteSourceSize</key>
                <string>{144,329}</string>
                <key>textureRect</key>
                <string>{{149,656},{144,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,340}</string>
                <key>spriteSourceSize</key>
                <string>{144,340}</string>
                <key>textureRect</key>
                <string>{{143,1321},{144,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,327}</string>
                <key>spriteSourceSize</key>
                <string>{146,327}</string>
                <key>textureRect</key>
                <string>{{1,642},{146,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,340}</string>
                <key>spriteSourceSize</key>
                <string>{144,340}</string>
                <key>textureRect</key>
                <string>{{143,1321},{144,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,341}</string>
                <key>spriteSourceSize</key>
                <string>{144,341}</string>
                <key>textureRect</key>
                <string>{{143,1663},{144,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,325}</string>
                <key>spriteSourceSize</key>
                <string>{140,325}</string>
                <key>textureRect</key>
                <string>{{153,1},{140,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monetwo.png</string>
            <key>size</key>
            <string>{294,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c0ee4a8117b7c6de1cdf27dfe5779b:ae875eee02130fbd1a17b34b244ca402:82fb7f72bd9cf1fc7678806f93b8f26a$</string>
            <key>textureFileName</key>
            <string>monetwo.png</string>
        </dict>
    </dict>
</plist>
