<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monetwohi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{90,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,903},{90,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monetwohi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-38}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,453},{126,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{129,453},{126,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{100,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{143,1},{100,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-38}</string>
                <key>spriteSize</key>
                <string>{140,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{92,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{145,679},{92,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-38}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,227},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-38}</string>
                <key>spriteSize</key>
                <string>{110,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{135,227},{110,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwohi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-39}</string>
                <key>spriteSize</key>
                <string>{142,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,679},{142,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monetwohi.png</string>
            <key>size</key>
            <string>{256,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c804f63377fc28907d3b84867996114:21290d5b8151d4a2e1940d89ac01ca97:0a3818a45948d30f3b1263e967675f58$</string>
            <key>textureFileName</key>
            <string>monetwohi.png</string>
        </dict>
    </dict>
</plist>
