<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneonehi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{90,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{145,679},{90,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-38}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,453},{126,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{129,453},{112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{100,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{135,227},{100,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-38}</string>
                <key>spriteSize</key>
                <string>{140,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{94,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{143,1},{94,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-38}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,227},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonehi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-38}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,903},{112,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moneonehi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-39}</string>
                <key>spriteSize</key>
                <string>{142,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,679},{142,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moneonehi.png</string>
            <key>size</key>
            <string>{242,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25b522de6c7b44344a3b81414c94fdef:f90c73e55d2b90192939e03d69618add:563f25b81416851596824eba7a311f54$</string>
            <key>textureFileName</key>
            <string>moneonehi.png</string>
        </dict>
    </dict>
</plist>
