<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneonelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-42}</string>
                <key>spriteSize</key>
                <string>{88,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,279},{88,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-64}</string>
                <key>spriteSize</key>
                <string>{94,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,105},{94,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-90}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moneonelose.png</string>
            <key>size</key>
            <string>{122,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b30577c4d903493b5d3fa369b65542:675ff69de78e684cbbe027f7118d1af0:6874da3a72a5c9be3edee4b54cffe741$</string>
            <key>textureFileName</key>
            <string>moneonelose.png</string>
        </dict>
    </dict>
</plist>
