<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneonewin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,336}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1677},{134,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonewin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{162,324}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,339},{162,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonewin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{166,336}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonewin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,342}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,665},{154,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonewin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{136,330}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1345},{136,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneonewin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{144,334}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1009},{144,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moneonewin.png</string>
            <key>size</key>
            <string>{168,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031316c2efe4b3b7ee8fb49bd0d4a5b0:cea0bae9eda2e451602698c4e990ccb5:9f75cc020d9d7eb03b7d71d67d35bdd5$</string>
            <key>textureFileName</key>
            <string>moneonewin.png</string>
        </dict>
    </dict>
</plist>
