<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,339}</string>
                <key>spriteSourceSize</key>
                <string>{141,339}</string>
                <key>textureRect</key>
                <string>{{1,1340},{141,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,321}</string>
                <key>spriteSourceSize</key>
                <string>{141,321}</string>
                <key>textureRect</key>
                <string>{{143,1685},{141,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,331}</string>
                <key>spriteSourceSize</key>
                <string>{140,331}</string>
                <key>textureRect</key>
                <string>{{152,1},{140,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,331}</string>
                <key>spriteSourceSize</key>
                <string>{140,331}</string>
                <key>textureRect</key>
                <string>{{1,1685},{140,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,326}</string>
                <key>spriteSourceSize</key>
                <string>{144,326}</string>
                <key>textureRect</key>
                <string>{{147,673},{144,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,337}</string>
                <key>spriteSourceSize</key>
                <string>{144,337}</string>
                <key>textureRect</key>
                <string>{{147,334},{144,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,326}</string>
                <key>spriteSourceSize</key>
                <string>{144,326}</string>
                <key>textureRect</key>
                <string>{{147,673},{144,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,318}</string>
                <key>spriteSourceSize</key>
                <string>{149,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,331}</string>
                <key>spriteSourceSize</key>
                <string>{142,331}</string>
                <key>textureRect</key>
                <string>{{146,1001},{142,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,339}</string>
                <key>spriteSourceSize</key>
                <string>{141,339}</string>
                <key>textureRect</key>
                <string>{{1,1340},{141,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,349}</string>
                <key>spriteSourceSize</key>
                <string>{141,349}</string>
                <key>textureRect</key>
                <string>{{146,1334},{141,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,337}</string>
                <key>spriteSourceSize</key>
                <string>{143,337}</string>
                <key>textureRect</key>
                <string>{{1,1001},{143,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,348}</string>
                <key>spriteSourceSize</key>
                <string>{144,348}</string>
                <key>textureRect</key>
                <string>{{1,321},{144,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,337}</string>
                <key>spriteSourceSize</key>
                <string>{143,337}</string>
                <key>textureRect</key>
                <string>{{1,1001},{143,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,328}</string>
                <key>spriteSourceSize</key>
                <string>{144,328}</string>
                <key>textureRect</key>
                <string>{{1,671},{144,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneone9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,331}</string>
                <key>spriteSourceSize</key>
                <string>{140,331}</string>
                <key>textureRect</key>
                <string>{{152,1},{140,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moneone.png</string>
            <key>size</key>
            <string>{293,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a2f47dc26ea83e7717010fbc9928852:fec65eada3d14cf8615abaf4a3b538fb:783b5b02b681347935ad9156d48960f8$</string>
            <key>textureFileName</key>
            <string>moneone.png</string>
        </dict>
    </dict>
</plist>
