<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monefour1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,340}</string>
                <key>spriteSourceSize</key>
                <string>{141,340}</string>
                <key>textureRect</key>
                <string>{{1,1309},{141,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,319}</string>
                <key>spriteSourceSize</key>
                <string>{147,319}</string>
                <key>textureRect</key>
                <string>{{1,321},{147,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,324}</string>
                <key>spriteSourceSize</key>
                <string>{140,324}</string>
                <key>textureRect</key>
                <string>{{152,1},{140,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,333}</string>
                <key>spriteSourceSize</key>
                <string>{140,333}</string>
                <key>textureRect</key>
                <string>{{150,327},{140,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,326}</string>
                <key>spriteSourceSize</key>
                <string>{144,326}</string>
                <key>textureRect</key>
                <string>{{1,642},{144,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,337}</string>
                <key>spriteSourceSize</key>
                <string>{144,337}</string>
                <key>textureRect</key>
                <string>{{1,970},{144,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,326}</string>
                <key>spriteSourceSize</key>
                <string>{144,326}</string>
                <key>textureRect</key>
                <string>{{1,642},{144,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,318}</string>
                <key>spriteSourceSize</key>
                <string>{149,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,344}</string>
                <key>spriteSourceSize</key>
                <string>{140,344}</string>
                <key>textureRect</key>
                <string>{{1,1651},{140,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,340}</string>
                <key>spriteSourceSize</key>
                <string>{141,340}</string>
                <key>textureRect</key>
                <string>{{1,1309},{141,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,326}</string>
                <key>spriteSourceSize</key>
                <string>{149,326}</string>
                <key>textureRect</key>
                <string>{{143,1673},{149,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,337}</string>
                <key>spriteSourceSize</key>
                <string>{144,337}</string>
                <key>textureRect</key>
                <string>{{147,991},{144,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,327}</string>
                <key>spriteSourceSize</key>
                <string>{144,327}</string>
                <key>textureRect</key>
                <string>{{147,662},{144,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,337}</string>
                <key>spriteSourceSize</key>
                <string>{144,337}</string>
                <key>textureRect</key>
                <string>{{147,991},{144,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,341}</string>
                <key>spriteSourceSize</key>
                <string>{144,341}</string>
                <key>textureRect</key>
                <string>{{144,1330},{144,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefour9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,324}</string>
                <key>spriteSourceSize</key>
                <string>{140,324}</string>
                <key>textureRect</key>
                <string>{{152,1},{140,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monefour.png</string>
            <key>size</key>
            <string>{293,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:590ee39105716d12a942e82012aac4e2:9cab979b6f27d1b6a06dd747455fade2:4f861eb6a628100dd56766153ef251cc$</string>
            <key>textureFileName</key>
            <string>monefour.png</string>
        </dict>
    </dict>
</plist>
