<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monethree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,342}</string>
                <key>spriteSourceSize</key>
                <string>{141,342}</string>
                <key>textureRect</key>
                <string>{{147,352},{141,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,332}</string>
                <key>spriteSourceSize</key>
                <string>{141,332}</string>
                <key>textureRect</key>
                <string>{{147,696},{141,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,326}</string>
                <key>spriteSourceSize</key>
                <string>{141,326}</string>
                <key>textureRect</key>
                <string>{{146,1363},{141,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,318}</string>
                <key>spriteSourceSize</key>
                <string>{140,318}</string>
                <key>textureRect</key>
                <string>{{1,1685},{140,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,326}</string>
                <key>spriteSourceSize</key>
                <string>{143,326}</string>
                <key>textureRect</key>
                <string>{{1,1357},{143,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,334}</string>
                <key>spriteSourceSize</key>
                <string>{144,334}</string>
                <key>textureRect</key>
                <string>{{1,690},{144,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,326}</string>
                <key>spriteSourceSize</key>
                <string>{143,326}</string>
                <key>textureRect</key>
                <string>{{1,1357},{143,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,314}</string>
                <key>spriteSourceSize</key>
                <string>{146,314}</string>
                <key>textureRect</key>
                <string>{{143,1691},{146,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,349}</string>
                <key>spriteSourceSize</key>
                <string>{140,349}</string>
                <key>textureRect</key>
                <string>{{147,1},{140,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,342}</string>
                <key>spriteSourceSize</key>
                <string>{141,342}</string>
                <key>textureRect</key>
                <string>{{147,352},{141,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,331}</string>
                <key>spriteSourceSize</key>
                <string>{141,331}</string>
                <key>textureRect</key>
                <string>{{146,1030},{141,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,336}</string>
                <key>spriteSourceSize</key>
                <string>{144,336}</string>
                <key>textureRect</key>
                <string>{{1,352},{144,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,329}</string>
                <key>spriteSourceSize</key>
                <string>{143,329}</string>
                <key>textureRect</key>
                <string>{{1,1026},{143,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,336}</string>
                <key>spriteSourceSize</key>
                <string>{144,336}</string>
                <key>textureRect</key>
                <string>{{1,352},{144,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,349}</string>
                <key>spriteSourceSize</key>
                <string>{144,349}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethree9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,326}</string>
                <key>spriteSourceSize</key>
                <string>{141,326}</string>
                <key>textureRect</key>
                <string>{{146,1363},{141,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monethree.png</string>
            <key>size</key>
            <string>{290,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a555c257997f73a1ee757af0986fbae7:268fe17490e3aa5bc81e5257d3844162:15d43f7fbd17ba328ec0b58cc4557045$</string>
            <key>textureFileName</key>
            <string>monethree.png</string>
        </dict>
    </dict>
</plist>
