<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monetwolose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-42}</string>
                <key>spriteSize</key>
                <string>{86,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,285},{86,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwolose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-69}</string>
                <key>spriteSize</key>
                <string>{96,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,121},{96,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monetwolose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-91}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monetwolose.png</string>
            <key>size</key>
            <string>{104,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc2082c8fedc27b770a5fd742b75b627:1e80f755fdc5daf162059f7714cd767f:f0bb806b07e117eee25da58ba92e4c3d$</string>
            <key>textureFileName</key>
            <string>monetwolose.png</string>
        </dict>
    </dict>
</plist>
