<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monethreelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-43}</string>
                <key>spriteSize</key>
                <string>{86,214}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,295},{86,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethreelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-64}</string>
                <key>spriteSize</key>
                <string>{94,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,121},{94,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monethreelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-91}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monethreelose.png</string>
            <key>size</key>
            <string>{104,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea109144e58a6d59a8f27a7ebb69ebb:9696ea25b09562b94b69b7d44c57ea77:37ac471cfc22912c85296a15447de6a5$</string>
            <key>textureFileName</key>
            <string>monethreelose.png</string>
        </dict>
    </dict>
</plist>
