<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monefourhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{90,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{145,679},{90,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-38}</string>
                <key>spriteSize</key>
                <string>{126,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,453},{126,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{112,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,903},{112,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monefourhi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{100,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{135,227},{100,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-38}</string>
                <key>spriteSize</key>
                <string>{140,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{92,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{143,1},{92,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-38}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,227},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-38}</string>
                <key>spriteSize</key>
                <string>{110,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{129,453},{110,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monefourhi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-39}</string>
                <key>spriteSize</key>
                <string>{142,222}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,679},{142,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monefourhi.png</string>
            <key>size</key>
            <string>{240,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78590afdbda4c9a852a075e9c06961aa:d170636f7edc3b2b0be9f28c4e67ced0:d28fa66740864c4942f0ffd962834481$</string>
            <key>textureFileName</key>
            <string>monefourhi.png</string>
        </dict>
    </dict>
</plist>
