<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreeone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{134,544},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,275}</string>
                <key>spriteSourceSize</key>
                <string>{121,275}</string>
                <key>textureRect</key>
                <string>{{1,1674},{121,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{124,1677},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,264}</string>
                <key>spriteSourceSize</key>
                <string>{133,264}</string>
                <key>textureRect</key>
                <string>{{1,278},{133,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,271}</string>
                <key>spriteSourceSize</key>
                <string>{123,271}</string>
                <key>textureRect</key>
                <string>{{129,837},{123,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,265}</string>
                <key>spriteSourceSize</key>
                <string>{126,265}</string>
                <key>textureRect</key>
                <string>{{1,824},{126,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,271}</string>
                <key>spriteSourceSize</key>
                <string>{123,271}</string>
                <key>textureRect</key>
                <string>{{129,837},{123,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,276}</string>
                <key>spriteSourceSize</key>
                <string>{121,276}</string>
                <key>textureRect</key>
                <string>{{124,1399},{121,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,287}</string>
                <key>spriteSourceSize</key>
                <string>{122,287}</string>
                <key>textureRect</key>
                <string>{{125,1110},{122,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{134,544},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,275}</string>
                <key>spriteSourceSize</key>
                <string>{134,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{1,1381},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,278}</string>
                <key>spriteSourceSize</key>
                <string>{131,278}</string>
                <key>textureRect</key>
                <string>{{1,544},{131,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{1,1381},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,288}</string>
                <key>spriteSourceSize</key>
                <string>{122,288}</string>
                <key>textureRect</key>
                <string>{{1,1091},{122,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeone9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{124,1677},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreeone.png</string>
            <key>size</key>
            <string>{256,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8c5180af2df1d1a4728dd50d66ec48:c39f19b3749ab09bbf6211c3d38f4f62:7e6fcc9032c4bf8d5a8e5d0987ea1d2d$</string>
            <key>textureFileName</key>
            <string>mthreeone.png</string>
        </dict>
    </dict>
</plist>
