<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreetwohi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{86,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1211},{86,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{88,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,967},{88,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{92,238}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,727},{92,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwohi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreetwohi.png</string>
            <key>size</key>
            <string>{94,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e055d40c3dcb87b9bd9a2951217cbf:8ba50ccdca751b768208d2e00848ca64:f07de1a0a52780517c9b2b57bf6b235e$</string>
            <key>textureFileName</key>
            <string>mthreetwohi.png</string>
        </dict>
    </dict>
</plist>
