<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreefourhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{86,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1213},{86,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{88,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,969},{88,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{94,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,727},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreefourhi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{94,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreefourhi.png</string>
            <key>size</key>
            <string>{96,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d940b094d1de2e967c13c896cee12764:a39b3e37b1ba455df8d2c5d09a2e02ef:df6f5330a228e1837c59db2fe05899c9$</string>
            <key>textureFileName</key>
            <string>mthreefourhi.png</string>
        </dict>
    </dict>
</plist>
