<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreetwo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{1,1383},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,265}</string>
                <key>spriteSourceSize</key>
                <string>{130,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{1,540},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,276}</string>
                <key>spriteSourceSize</key>
                <string>{121,276}</string>
                <key>textureRect</key>
                <string>{{124,571},{121,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,270}</string>
                <key>spriteSourceSize</key>
                <string>{121,270}</string>
                <key>textureRect</key>
                <string>{{133,1},{121,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,276}</string>
                <key>spriteSourceSize</key>
                <string>{121,276}</string>
                <key>textureRect</key>
                <string>{{1,813},{121,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,270}</string>
                <key>spriteSourceSize</key>
                <string>{121,270}</string>
                <key>textureRect</key>
                <string>{{133,1},{121,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,265}</string>
                <key>spriteSourceSize</key>
                <string>{132,265}</string>
                <key>textureRect</key>
                <string>{{1,273},{132,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,282}</string>
                <key>spriteSourceSize</key>
                <string>{130,282}</string>
                <key>textureRect</key>
                <string>{{124,849},{130,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{1,1383},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,298}</string>
                <key>spriteSourceSize</key>
                <string>{121,298}</string>
                <key>textureRect</key>
                <string>{{124,1422},{121,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,290}</string>
                <key>spriteSourceSize</key>
                <string>{121,290}</string>
                <key>textureRect</key>
                <string>{{1,1091},{121,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,296}</string>
                <key>spriteSourceSize</key>
                <string>{120,296}</string>
                <key>textureRect</key>
                <string>{{135,273},{120,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,290}</string>
                <key>spriteSourceSize</key>
                <string>{121,290}</string>
                <key>textureRect</key>
                <string>{{1,1091},{121,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,287}</string>
                <key>spriteSourceSize</key>
                <string>{127,287}</string>
                <key>textureRect</key>
                <string>{{124,1133},{127,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreetwo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{1,540},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreetwo.png</string>
            <key>size</key>
            <string>{256,1721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbb1fff2861be03c4d12f9b611c84193:4bf489cdc45974527fbc9465fce12fe7:b222cdf69a9e3f881f070a14adf1e2bf$</string>
            <key>textureFileName</key>
            <string>mthreetwo.png</string>
        </dict>
    </dict>
</plist>
