<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreeonehi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{86,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1211},{86,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{88,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,967},{88,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-31}</string>
                <key>spriteSize</key>
                <string>{92,238}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,727},{92,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonehi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-31}</string>
                <key>spriteSize</key>
                <string>{92,238}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,727},{92,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreeonehi.png</string>
            <key>size</key>
            <string>{94,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e1ec647fbaf0227763a851735451c2e:5156dc4c21df39762def355621f1d2e4:98cfb34b5dff490add1f97ce41514332$</string>
            <key>textureFileName</key>
            <string>mthreeonehi.png</string>
        </dict>
    </dict>
</plist>
