<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreethreelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-40}</string>
                <key>spriteSize</key>
                <string>{84,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,279},{84,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-62}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,101},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-87}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreethreelose.png</string>
            <key>size</key>
            <string>{128,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a79708da09bd0c8efc204bfebdf80d9:13915ce0a25a9479b076c411e4ea0710:2731cc1109c80e0795a3e4e5c0450f63$</string>
            <key>textureFileName</key>
            <string>mthreethreelose.png</string>
        </dict>
    </dict>
</plist>
