<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreeonelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-40}</string>
                <key>spriteSize</key>
                <string>{86,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,279},{86,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-62}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,101},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeonelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{98,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreeonelose.png</string>
            <key>size</key>
            <string>{126,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79615889bd20f18f3e5ae3d1dee5c398:37f27f947bb97318c19fcc7409aecb21:59915ae40c9ba9d72b262e64feb0c3aa$</string>
            <key>textureFileName</key>
            <string>mthreeonelose.png</string>
        </dict>
    </dict>
</plist>
