<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreeforur1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,292}</string>
                <key>spriteSourceSize</key>
                <string>{121,292}</string>
                <key>textureRect</key>
                <string>{{390,1},{121,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,264}</string>
                <key>spriteSourceSize</key>
                <string>{133,264}</string>
                <key>textureRect</key>
                <string>{{369,295},{133,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{383,561},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,276}</string>
                <key>spriteSourceSize</key>
                <string>{121,276}</string>
                <key>textureRect</key>
                <string>{{260,569},{121,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,270}</string>
                <key>spriteSourceSize</key>
                <string>{122,270}</string>
                <key>textureRect</key>
                <string>{{136,593},{122,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,277}</string>
                <key>spriteSourceSize</key>
                <string>{121,277}</string>
                <key>textureRect</key>
                <string>{{246,290},{121,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,270}</string>
                <key>spriteSourceSize</key>
                <string>{122,270}</string>
                <key>textureRect</key>
                <string>{{136,593},{122,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,265}</string>
                <key>spriteSourceSize</key>
                <string>{133,265}</string>
                <key>textureRect</key>
                <string>{{1,598},{133,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,298}</string>
                <key>spriteSourceSize</key>
                <string>{122,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,292}</string>
                <key>spriteSourceSize</key>
                <string>{121,292}</string>
                <key>textureRect</key>
                <string>{{390,1},{121,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,276}</string>
                <key>spriteSourceSize</key>
                <string>{134,276}</string>
                <key>textureRect</key>
                <string>{{254,1},{134,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,290}</string>
                <key>spriteSourceSize</key>
                <string>{121,290}</string>
                <key>textureRect</key>
                <string>{{123,301},{121,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,295}</string>
                <key>spriteSourceSize</key>
                <string>{120,295}</string>
                <key>textureRect</key>
                <string>{{1,301},{120,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,290}</string>
                <key>spriteSourceSize</key>
                <string>{121,290}</string>
                <key>textureRect</key>
                <string>{{123,301},{121,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,287}</string>
                <key>spriteSourceSize</key>
                <string>{127,287}</string>
                <key>textureRect</key>
                <string>{{125,1},{127,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreeforur9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{383,561},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreeforur.png</string>
            <key>size</key>
            <string>{512,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f5fe6afd410dd0232243ac45093245b:be1950534926c24ab48849ccb453a919:9326540d731281d292fcf5e0d76c5b6e$</string>
            <key>textureFileName</key>
            <string>mthreeforur.png</string>
        </dict>
    </dict>
</plist>
