<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreethree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{134,278},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,276}</string>
                <key>spriteSourceSize</key>
                <string>{122,276}</string>
                <key>textureRect</key>
                <string>{{1,1098},{122,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{1,1654},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,265}</string>
                <key>spriteSourceSize</key>
                <string>{131,265}</string>
                <key>textureRect</key>
                <string>{{1,278},{131,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{124,1438},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,265}</string>
                <key>spriteSourceSize</key>
                <string>{130,265}</string>
                <key>textureRect</key>
                <string>{{1,831},{130,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{124,1438},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,276}</string>
                <key>spriteSourceSize</key>
                <string>{121,276}</string>
                <key>textureRect</key>
                <string>{{1,1376},{121,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,286}</string>
                <key>spriteSourceSize</key>
                <string>{122,286}</string>
                <key>textureRect</key>
                <string>{{133,862},{122,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,291}</string>
                <key>spriteSourceSize</key>
                <string>{121,291}</string>
                <key>textureRect</key>
                <string>{{134,278},{121,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,275}</string>
                <key>spriteSourceSize</key>
                <string>{135,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,289}</string>
                <key>spriteSourceSize</key>
                <string>{122,289}</string>
                <key>textureRect</key>
                <string>{{133,571},{122,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,284}</string>
                <key>spriteSourceSize</key>
                <string>{130,284}</string>
                <key>textureRect</key>
                <string>{{1,545},{130,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,289}</string>
                <key>spriteSourceSize</key>
                <string>{122,289}</string>
                <key>textureRect</key>
                <string>{{133,571},{122,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,286}</string>
                <key>spriteSourceSize</key>
                <string>{121,286}</string>
                <key>textureRect</key>
                <string>{{125,1150},{121,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethree9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,271}</string>
                <key>textureRect</key>
                <string>{{1,1654},{121,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreethree.png</string>
            <key>size</key>
            <string>{256,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5da6068d1533e490c3c8ab065f84a61:ea20fb98d72d9068c7edacf32189aa49:84ccf94dd6896fb882362a3b3ade5042$</string>
            <key>textureFileName</key>
            <string>mthreethree.png</string>
        </dict>
    </dict>
</plist>
