<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mthreethreehi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{84,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1211},{84,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{88,242}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,967},{88,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{94,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{92,238}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,727},{92,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,485},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{92,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{92,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mthreethreehi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-30}</string>
                <key>spriteSize</key>
                <string>{94,240}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mthreethreehi.png</string>
            <key>size</key>
            <string>{96,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960f122e269079adcebb42681566e8b0:560ad825743fe0b185f27de7174b50e8:d2669a3482296f679e2bab850dd1e5b1$</string>
            <key>textureFileName</key>
            <string>mthreethreehi.png</string>
        </dict>
    </dict>
</plist>
