<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwoone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,308}</string>
                <key>spriteSourceSize</key>
                <string>{129,308}</string>
                <key>textureRect</key>
                <string>{{280,1},{129,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,278}</string>
                <key>spriteSourceSize</key>
                <string>{132,278}</string>
                <key>textureRect</key>
                <string>{{1,628},{132,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{402,311},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,289}</string>
                <key>spriteSourceSize</key>
                <string>{131,289}</string>
                <key>textureRect</key>
                <string>{{135,609},{131,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{268,609},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,278}</string>
                <key>spriteSourceSize</key>
                <string>{132,278}</string>
                <key>textureRect</key>
                <string>{{399,602},{132,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{268,609},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,289}</string>
                <key>spriteSourceSize</key>
                <string>{131,289}</string>
                <key>textureRect</key>
                <string>{{269,311},{131,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,314}</string>
                <key>spriteSourceSize</key>
                <string>{132,314}</string>
                <key>textureRect</key>
                <string>{{1,312},{132,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,308}</string>
                <key>spriteSourceSize</key>
                <string>{129,308}</string>
                <key>textureRect</key>
                <string>{{280,1},{129,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,295}</string>
                <key>spriteSourceSize</key>
                <string>{132,295}</string>
                <key>textureRect</key>
                <string>{{135,312},{132,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,305}</string>
                <key>spriteSourceSize</key>
                <string>{137,305}</string>
                <key>textureRect</key>
                <string>{{141,1},{137,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,294}</string>
                <key>spriteSourceSize</key>
                <string>{136,294}</string>
                <key>textureRect</key>
                <string>{{411,1},{136,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,305}</string>
                <key>spriteSourceSize</key>
                <string>{137,305}</string>
                <key>textureRect</key>
                <string>{{141,1},{137,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,309}</string>
                <key>spriteSourceSize</key>
                <string>{138,309}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoone9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{402,311},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwoone.png</string>
            <key>size</key>
            <string>{549,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b97ac653a59d35114b2927c5e3f97bc8:d8234f0713ca5b2fed51861b272f4cee:90db325b658c02e5bc63b043ac5cfb30$</string>
            <key>textureFileName</key>
            <string>mtwoone.png</string>
        </dict>
    </dict>
</plist>
