<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwothree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,307}</string>
                <key>spriteSourceSize</key>
                <string>{129,307}</string>
                <key>textureRect</key>
                <string>{{1,318},{129,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,278}</string>
                <key>spriteSourceSize</key>
                <string>{132,278}</string>
                <key>textureRect</key>
                <string>{{1,1498},{132,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{1,627},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,289}</string>
                <key>spriteSourceSize</key>
                <string>{131,289}</string>
                <key>textureRect</key>
                <string>{{136,916},{131,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{1,914},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,278}</string>
                <key>spriteSourceSize</key>
                <string>{132,278}</string>
                <key>textureRect</key>
                <string>{{135,1498},{132,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{1,914},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,289}</string>
                <key>spriteSourceSize</key>
                <string>{131,289}</string>
                <key>textureRect</key>
                <string>{{136,1207},{131,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,315}</string>
                <key>spriteSourceSize</key>
                <string>{130,315}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,307}</string>
                <key>spriteSourceSize</key>
                <string>{129,307}</string>
                <key>textureRect</key>
                <string>{{1,318},{129,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,295}</string>
                <key>spriteSourceSize</key>
                <string>{133,295}</string>
                <key>textureRect</key>
                <string>{{1,1201},{133,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,305}</string>
                <key>spriteSourceSize</key>
                <string>{137,305}</string>
                <key>textureRect</key>
                <string>{{132,609},{137,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,295}</string>
                <key>spriteSourceSize</key>
                <string>{136,295}</string>
                <key>textureRect</key>
                <string>{{133,312},{136,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,305}</string>
                <key>spriteSourceSize</key>
                <string>{137,305}</string>
                <key>textureRect</key>
                <string>{{132,609},{137,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,309}</string>
                <key>spriteSourceSize</key>
                <string>{136,309}</string>
                <key>textureRect</key>
                <string>{{133,1},{136,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothree9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,285}</string>
                <key>spriteSourceSize</key>
                <string>{129,285}</string>
                <key>textureRect</key>
                <string>{{1,627},{129,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwothree.png</string>
            <key>size</key>
            <string>{270,1777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa63290be680df387b5519b35f750da3:b837b2d9faa53eee6082fa733d52828a:94d42053597982da0d3cfd1531bd077e$</string>
            <key>textureFileName</key>
            <string>mtwothree.png</string>
        </dict>
    </dict>
</plist>
