<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwothreewin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,27}</string>
                <key>spriteSize</key>
                <string>{108,282}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{131,285},{108,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreewin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{122,268}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{121,577},{122,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreewin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,40}</string>
                <key>spriteSize</key>
                <string>{136,282}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreewin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,32}</string>
                <key>spriteSize</key>
                <string>{128,290}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,285},{128,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreewin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{106,274}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{139,1},{106,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreewin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,27}</string>
                <key>spriteSize</key>
                <string>{118,280}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,577},{118,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwothreewin.png</string>
            <key>size</key>
            <string>{246,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1603fb1f0eb9b4a9b16c9aaf388ffe27:4d4ad15255de2853b756729ec7d36198:22186c5e6e91553d417f2ff1451b6079$</string>
            <key>textureFileName</key>
            <string>mtwothreewin.png</string>
        </dict>
    </dict>
</plist>
