<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwothreelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-42}</string>
                <key>spriteSize</key>
                <string>{88,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,273},{88,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{94,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,119},{94,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwothreelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-92}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwothreelose.png</string>
            <key>size</key>
            <string>{100,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67c37ad06b72c9593e7c28b4cbc39143:f79bdbb26f6b5d7034062b74a082c156:aed6f5327a9ca2017f8cf30a75c3d71d$</string>
            <key>textureFileName</key>
            <string>mtwothreelose.png</string>
        </dict>
    </dict>
</plist>
