<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwofour1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,307}</string>
                <key>spriteSourceSize</key>
                <string>{129,307}</string>
                <key>textureRect</key>
                <string>{{140,1},{129,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,278}</string>
                <key>spriteSourceSize</key>
                <string>{131,278}</string>
                <key>textureRect</key>
                <string>{{1,1211},{131,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,286}</string>
                <key>spriteSourceSize</key>
                <string>{130,286}</string>
                <key>textureRect</key>
                <string>{{139,1205},{130,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,288}</string>
                <key>spriteSourceSize</key>
                <string>{130,288}</string>
                <key>textureRect</key>
                <string>{{135,625},{130,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,286}</string>
                <key>spriteSourceSize</key>
                <string>{130,286}</string>
                <key>textureRect</key>
                <string>{{1,1493},{130,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,278}</string>
                <key>spriteSourceSize</key>
                <string>{131,278}</string>
                <key>textureRect</key>
                <string>{{133,1493},{131,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,286}</string>
                <key>spriteSourceSize</key>
                <string>{130,286}</string>
                <key>textureRect</key>
                <string>{{1,1493},{130,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,288}</string>
                <key>spriteSourceSize</key>
                <string>{130,288}</string>
                <key>textureRect</key>
                <string>{{139,915},{130,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,313}</string>
                <key>spriteSourceSize</key>
                <string>{130,313}</string>
                <key>textureRect</key>
                <string>{{138,310},{130,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,307}</string>
                <key>spriteSourceSize</key>
                <string>{129,307}</string>
                <key>textureRect</key>
                <string>{{140,1},{129,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,294}</string>
                <key>spriteSourceSize</key>
                <string>{132,294}</string>
                <key>textureRect</key>
                <string>{{1,619},{132,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,294}</string>
                <key>spriteSourceSize</key>
                <string>{136,294}</string>
                <key>textureRect</key>
                <string>{{1,915},{136,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,308}</string>
                <key>spriteSourceSize</key>
                <string>{135,308}</string>
                <key>textureRect</key>
                <string>{{1,309},{135,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofour9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,286}</string>
                <key>spriteSourceSize</key>
                <string>{130,286}</string>
                <key>textureRect</key>
                <string>{{139,1205},{130,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwofour.png</string>
            <key>size</key>
            <string>{270,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9085ff59c43109eff0ad9f08978c4a8:61a718234c0dd40257aa4b8a9e0c2e62:34b58e5b7e7ac041d4e4ead722670db9$</string>
            <key>textureFileName</key>
            <string>mtwofour.png</string>
        </dict>
    </dict>
</plist>
