<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwoonelose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-42}</string>
                <key>spriteSize</key>
                <string>{88,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,277},{88,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonelose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-72}</string>
                <key>spriteSize</key>
                <string>{94,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,119},{94,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonelose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-92}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwoonelose.png</string>
            <key>size</key>
            <string>{100,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5fdaa6f131fecfc812745a4379cc72:f490a25ab187bb7e07ceef4cd9760bea:229fc055e6cbe42d160e53ba7e5825ed$</string>
            <key>textureFileName</key>
            <string>mtwoonelose.png</string>
        </dict>
    </dict>
</plist>
