<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwofourlose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-42}</string>
                <key>spriteSize</key>
                <string>{88,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,283},{88,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourlose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-69}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,119},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourlose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-92}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwofourlose.png</string>
            <key>size</key>
            <string>{100,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be90aa04a4a151cb991d16b74f49cff3:ba314d96b39f49b99ac6eaa2ed059d19:42500b306674c06b2fe2e363b114431e$</string>
            <key>textureFileName</key>
            <string>mtwofourlose.png</string>
        </dict>
    </dict>
</plist>
