<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwofourhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{86,246}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{139,1},{86,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{136,246}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{106,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{629,1},{106,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{134,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{227,1},{134,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{88,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{737,1},{88,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{128,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{499,1},{128,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{86,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{827,1},{86,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{134,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{363,1},{134,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourhi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{86,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{827,1},{86,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwofourhi.png</string>
            <key>size</key>
            <string>{914,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64056c23a4c0e92dd181313e21249e8c:d3972491a374f5b1083547369623be56:d0c30e57a21d77f485b4691cc58f7461$</string>
            <key>textureFileName</key>
            <string>mtwofourhi.png</string>
        </dict>
    </dict>
</plist>
