<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwofourwin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,27}</string>
                <key>spriteSize</key>
                <string>{108,286}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{141,1},{108,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourwin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{122,270}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,585},{122,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourwin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,37}</string>
                <key>spriteSize</key>
                <string>{138,286}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourwin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,35}</string>
                <key>spriteSize</key>
                <string>{128,294}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,289},{128,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourwin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{108,276}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{131,573},{108,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwofourwin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,26}</string>
                <key>spriteSize</key>
                <string>{120,282}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{131,289},{120,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwofourwin.png</string>
            <key>size</key>
            <string>{252,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf7b3a243f89dc557ed5a9c65423c03:19159f774af50080d7005023616cd450:4c0d4cf6b70376d9d440556e634fc9a4$</string>
            <key>textureFileName</key>
            <string>mtwofourwin.png</string>
        </dict>
    </dict>
</plist>
