<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwoonehi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{86,246}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{139,1},{86,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{136,246}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{106,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{629,1},{106,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{134,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{227,1},{134,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{88,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{737,1},{88,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{128,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{499,1},{128,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{86,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{827,1},{86,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{134,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{363,1},{134,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwoonehi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{86,244}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{827,1},{86,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwoonehi.png</string>
            <key>size</key>
            <string>{914,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c2f402c1d3dfd4657c714ea636a689:c98f0539d7316b85069637951bab1e48:2f8b889ba293cd95b0a97d54bc565e9d$</string>
            <key>textureFileName</key>
            <string>mtwoonehi.png</string>
        </dict>
    </dict>
</plist>
