<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mtwotwowin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,27}</string>
                <key>spriteSize</key>
                <string>{108,284}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{131,285},{108,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwotwowin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{122,270}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{121,579},{122,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwotwowin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,39}</string>
                <key>spriteSize</key>
                <string>{136,282}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwotwowin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,31}</string>
                <key>spriteSize</key>
                <string>{128,292}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,285},{128,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwotwowin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{106,276}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{139,1},{106,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mtwotwowin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,26}</string>
                <key>spriteSize</key>
                <string>{118,282}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,579},{118,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mtwotwowin.png</string>
            <key>size</key>
            <string>{246,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaeaa9853c9f9a517f6e3f01d8854263:1290a61c5360eea73b4cb1a79df20c03:d95d92a11ac7e5ec7e7bc641d06465b6$</string>
            <key>textureFileName</key>
            <string>mtwotwowin.png</string>
        </dict>
    </dict>
</plist>
