<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NoMoney1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-228,-332}</string>
                <key>spriteSize</key>
                <string>{360,216}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NoMoney2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-74}</string>
                <key>spriteSize</key>
                <string>{294,208}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{363,1},{294,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NoMoney3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,211}</string>
                <key>spriteSize</key>
                <string>{238,154}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{777,1},{238,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NoMoney4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,398}</string>
                <key>spriteSize</key>
                <string>{178,116}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{659,1},{178,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NoMoney.png</string>
            <key>size</key>
            <string>{1016,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e51d3b477c204b8124462f9f62e2d2:27c1c95d0839f392e10a77073a30caba:e962a9b5b7cb093e39b1d2bb1ebf3c76$</string>
            <key>textureFileName</key>
            <string>NoMoney.png</string>
        </dict>
    </dict>
</plist>
