<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shield1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,97}</string>
                <key>spriteSize</key>
                <string>{902,684}</string>
                <key>spriteSourceSize</key>
                <string>{1100,878}</string>
                <key>textureRect</key>
                <string>{{1,906},{902,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{903,800}</string>
                <key>spriteSourceSize</key>
                <string>{903,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{903,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,800}</string>
                <key>spriteSourceSize</key>
                <string>{853,800}</string>
                <key>textureRect</key>
                <string>{{905,1},{853,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{905,803},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shield.png</string>
            <key>size</key>
            <string>{1759,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3199187919f8ff9ebe8c9d5b8245069:d4c18a7c04d383bd39a239cfbe4a8994:696d45f2d7f751d5a1f7d50444fec9b7$</string>
            <key>textureFileName</key>
            <string>shield.png</string>
        </dict>
    </dict>
</plist>
