<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Snow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{752,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Snow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1027},{752,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Snow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{752,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{755,1},{752,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Snow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1027,755},{752,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Snow.png</string>
            <key>size</key>
            <string>{1780,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef774be472d6f8a8866316c3319dce24:fa42b531b6cc56f97a0fbf0d599edfae:9b0ff67053796290f000252fde7de4c7$</string>
            <key>textureFileName</key>
            <string>Snow.png</string>
        </dict>
    </dict>
</plist>
