<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tortoise1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,14}</string>
                <key>spriteSize</key>
                <string>{530,532}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{530,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tortoise2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{552,522}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1024}</string>
                <key>textureRect</key>
                <string>{{535,1},{552,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tortoise.png</string>
            <key>size</key>
            <string>{1088,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025d9a744b3f90b9e9c5afbad1ebc2f9:ba5953ebc37c4f237fcd5f438ad25a82:0d4a5436f6090d1bcc31f4fa1be20623$</string>
            <key>textureFileName</key>
            <string>tortoise.png</string>
        </dict>
    </dict>
</plist>
